{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.app-container {
			background-color: rgba(255, 255, 255, 0.95);
			max-width: 1000px;
			margin: 60px auto;
			padding: 30px;
			border-radius: 20px;
		}

		h1 {
			text-align: center;
			font-size: 40px;
			font-style: italic;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.1rem;
			text-align: center;
			margin-bottom: 30px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			font-size: 1.01rem;
			padding: 15px;
			text-align: center;
		}

		th {
			border-bottom: 2px solid #ccc;
		}

		td {
			border-bottom: 1px solid #eee;
		}

		.btn {
			font-size: 1.1rem;
			padding: 8px 12px;
			border: none;
			border-radius: 5px;
			text-decoration: none;
			color: white;
			cursor: pointer;
			margin: 5px;
			display: inline-block;
		}

		.btn-install {
			background-color: #2196F3;
		}

		.btn-install:hover {
			background-color: #1b67a4ff;
			transform: scale(1.05);
		}

		.btn-download {
			background-color: #aeaeaeff;
		}

		.btn-download:hover {
			background-color: #979595ff;
			transform: scale(1.05);
		}

		.btn-success,
		.btn-warning,
		.btn-danger {
			color: #000000;
			border-bottom: 2px solid #ccc;
			font-weight: bold;
		}

		.btn-success:hover,
		.btn-warning:hover,
		.btn-danger:hover {
			background-color: #c6c6c6ff;
			transform: scale(1.05);
		}

		.btn-cancel {
			background: #9E9E9E;
			color: white;
			text-decoration: none;
			display: inline-block;
		}

		.btn-cancel:hover {
			background: #5a6268;
			transform: scale(1.05);
		}

		.table-container {
			max-height: 400px; /* hauteur visible */
			overflow-y: auto; /* barre de défilement verticale */
			border-radius: 10px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="app-container">
		<h1>
			Applications disponibles
		</h1>
		<p>
			Choisissez une application à installer. Vous pouvez lancer le script automatiquement ou bien le télécharger afin de l’exécuter manuellement.
		</p>

		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>
							Applications
						</th>
						<th>
							Descriptions
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					{% for application in applications %}
						<tr>
							<td>
								{{ application.nomApplication }}
							</td>
							<td>
								{{ application.description }}
							</td>
							<td>

								{% if application.scriptPath %}
									<!-- Bouton Télécharger -->
									<a href="{{ path('app_script_download', { filename: application.scriptPath }) }}" class="btn btn-download">
										Télécharger le script
									</a>

									<!-- Bouton Installer -->
									{# <a href="{{ path('app_application_install', { id: application.id }) }}" class="btn btn-install">
																										Installer
																									</a> #}
									{# <a href="{{ asset('uploads/' ~ application.scriptPath) }}" class="btn btn-install">
																		Installer
																	</a> #}
										<a href="{{ path('app_application_install', { id: application.id }) }}" class="btn btn-install"> Installer
									</a>
								{% else %}
									<span>
										Aucun script disponible
									</span>
								{% endif %}

							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a href="{{ path('app_application_new') }}" class="btn btn-success">
			➕ Ajouter une application
		</a>
		<a href="{{ path('app_application_select_edit', { id: 1 }) }}" class="btn btn-warning">
			✏️ Modifier une application
		</a>
		<a href="{{ path('app_application_select_delete') }}" class="btn btn-danger">
			🗑️ Supprimer une application
		</a>
		<a href="{{ path('dashboard') }}" class="btn btn-cancel">
			Accueil
		</a>


	</div>

	<script>
		function copyCommand(command) {
navigator.clipboard.writeText(command).then(() => {
alert("✅ Commande copiée !\n\nCollez-la dans PowerShell pour lancer l’installation.");
}).catch(err => {
alert("❌ Erreur de copie : " + err);
});
}
	</script>
{% endblock %}
