{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Nom_application</th>
                <td>{{ application.nomApplication }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ application.description }}</td>
            </tr>
            <tr>
                <th>ScriptDownloadPath</th>
                <td>{{ application.scriptDownloadPath }}</td>
            </tr>
            <tr>
                <th>ScriptExecutePath</th>
                <td>{{ application.scriptExecutePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_application_index') }}">back to list</a>

    <a href="{{ path('app_application_edit', {'id': application.id}) }}">edit</a>

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
