{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.app-container {
			background-color: rgba(255, 255, 255, 0.95);
			max-width: 1000px;
			margin: 60px auto;
			padding: 30px;
			border-radius: 20px;
			justify-content: center;
			align-items: center;
		}

		h1 {
			text-align: center;
			font-size: 40px;
			font-style: italic;
			margin-bottom: 10px;
		}

		p {
			font-size: 1.1rem;
			text-align: center;
			margin-bottom: 30px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			font-size: 1.01rem;
			padding: 15px;
			text-align: center;
		}

		th {
			border-bottom: 2px solid #ccc;
		}

		td {
			border-bottom: 1px solid #eee;
		}

		.btn {
			font-size: 1.1rem;
			padding: 8px 12px;
			border: none;
			border-radius: 5px;
			text-decoration: none;
			color: white;
			cursor: pointer;
			margin: 5px;
			display: inline-block;
		}

		.btn-back {
			background-color: #2196F3;
		}

		.btn-back:hover {
			background-color: #1b67a4ff;
			transform: scale(1.05);
		}

		.table-container {
			max-height: 400px; /* hauteur visible */
			overflow-y: auto; /* barre de défilement verticale */
			border-radius: 10px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="app-container">
		<h1>
			Historique des installations
		</h1>
		<p>
			Consultez l’historique des applications installées sur les machines.
		</p>

		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>
							Date d’installation
						</th>
						<th>
							Technicien
						</th>
						<th>
							Application
						</th>
						<th>
							Machine
						</th>
						<th>
							Statut
						</th>
					</tr>
				</thead>
				<tbody>
					{% for h in historique %}
						<tr>
							<td>
								{{ h.date|date('d/m/Y H:i') }}
							</td>
							<td>
								{{ h.technicien }}
							</td>
							<td>
								{{ h.logiciel }}
							</td>
							<td>
								{{ h.nomPc }}
							</td>
							<td>
								{{ h.statut }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">
								Aucun historique disponible.
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<a href="{{ path('app_application_index') }}" class="btn btn-back">
			↩ Retour aux applications
		</a>
		<a href="{{ path('dashboard') }}" class="btn btn-back">
			Accueil
		</a>
	</div>
{% endblock %}
